#td1{
    background-color: lawngreen;
}

#td2{
    background-color: crimson;
  
}

#td3{
    background-color: darkgoldenrod;
}

#td4{
    background-color: darkgoldenrod;
}

#td5{
    background-color: #a8c9a8;
}

#td6{
    background-color: #a8c9a8;
}

#td7{
    background-color: deepskyblue;
}

#td8{
    background-color: purple;

}

#td9{
    background-color: khaki;
}

#td10{
    background-color: khaki;
}

#td11{
    background-color: crimson;
  
}

#td12{
    background-color: lawngreen;
}

#td13{
    background-color: purple;
    
}

#td14{
    background-color: deepskyblue;
}

#td15{
    background-color: slateblue;
    
}

#header1,
#header2,
#header3{
    background-color: #009688;
    color: white;
}

