
/* 
cover - ფოტო ავსებს მთლიან ელემენტს
მაგრამ ფოტოს ნაწილი შეიძლება მოიჭრას
*/

/*
contain - მთელი ფოტო ჩანს ელემენტში

მაგრამ შეიძლება ცარიელი ადგილი დარჩეს
*/

/* 
fixed-ელემენტი ჩერდება ეკრანის კონკრეტულ ადგილას
 და ჩამოწევის დროს იმავე ადგილას რჩება
*/



.fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
}



.sticky {
    position: sticky;
    top: 0;
    padding: 10px;
}



.photo1 {
    width: 100%;
    height: 400px;

    background-image: url("images.jpg");
    background-size: contain;
    background-repeat: repeat;
}


.photo2 {
    width: 100%;
    height: 500px;

    background-image: url("images.jpg");
    background-size: 200px 200px;
    background-repeat: repeat;
}
